body{
    font-family: 'Roboto', sans-serif;
    
}

ul{
    display: flex;
}

li{
    padding: 10px;
    list-style: none;
}

li > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 700;
}

.mydiv{
    text-align: center;
    background-color:rgb(249, 234, 221);
    height: 100px;
}
.myWork{
    text-align: center;
    background-color:  rgba(230, 183, 147, 0.878);
    height: 125px ;

}

.myresume{
    text-align: center;
    background-color: rgba(128, 47, 0, 0.443);
    height: 150px ;  
}
.mycontact{
    text-align: center;
    background-color: rgba(72, 37, 74, 0.443);
    height: 200px ;
}